RDNB/dataset
RDNB/projeto_rdn
RDNB/.python-version
RDNB/output/*

.venv/
mulval_dataset/
mulval_output/

TCC

experimentos/.venv
experimentos/dataset

experimentos_land/.venv
experimentos_land2/.venv
experimentos_land3/.venv

res_d3_s2_e5 (land, 0.2 attackerLocated)
res_d3_s2_e5 (land, attackerLocatedm vulExists, vulProperty)
resultados_v2

backup/*

__pycache__/

cluster/error/*
cluster/log/*
cluster/out/*
cluster/results/*
cluster/results_summary.csv
!cluster/error/.gitkeep
!cluster/log/.gitkeep
!cluster/out/.gitkeep
!cluster/results/.gitkeep

/cluster
/manual_cases